* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.navbar-left {
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
}
  
.navbar-right {
    padding-right: 30px;
    gap: 2rem;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-right a {
    text-decoration: none;
    color: black;
}
  
.navbar-left li {
    font-size: 2rem; 
}
  
.navbar-right li a:hover {
    color: rgb(62, 198, 20);
}
  
.footer {
    bottom: 0;
    width: 100%;
    background-color: #f3f4f6;
    text-align: center;
    color: #4b5563;
    font-size: 1.2rem;
    padding: 20px;
}
  
.about {
    height: 25rem;
    background-color: rgb(12, 215, 215);
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    gap: 1rem;
}
  
.contact {
    height: 25rem;
    background-color: rgb(242, 233, 103);
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;
    display: flex;
}

.contact img {
    padding: 20px;
    border-radius: 20%;
}

.about img {
    padding: 20px;
    border-radius: 20%;
}

.blog {
    height: 25rem;
    background-color: rgb(231, 216, 248);
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;
    display: flex;
}

.about-left {
    padding: 20px;
}

.contact-right {
    padding: 20px;
}

.blog-left {
    padding: 20px;
}

.blog img {
    padding: 20px;
    border-radius: 20%;
}